<nav class="ui stackable menu">
    <header class="ui header item"> <a href="/"> Phone Tracker </a></header>
    <div class="right menu">
        <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
        <a id="about"  class ="item" href="/about"> Phones </a>
        <a id="aboutme" class ="item" href="/aboutme"> About Me </a>
    </div>
</nav>

<script>
    document.querySelector("#{{id}}").classList.add("active");

</script>
